/* Feedback.css */

.feedback-container {
  background-color: lightblue;
  padding: 100px 10px;
  text-align: center;
  position: relative;
}

.feedback-title-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.feedback-title {
  color: red;
}

.feedback-content {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 80px;
}

.feedback-card {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.question-number {
  font-size: 22px;
  margin-bottom: 30px;
}

.current-question-number {
  font-weight: bold;
  color: red;
}

.total-questions-number {
  color: lightcoral;
}

.question-wrapper {
  min-height: 120px;
  position: relative; /* Ensure relative positioning for absolute transition */
}

.question {
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
  position: absolute;
  width: 100%;
  top: 0;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.nav-button {
  background: none;
  border: none;
  color: black;
  font-size: 16px;
  padding: 40px 20px;
  cursor: pointer;
}

.nav-button:disabled {
  color: grey;
  cursor: not-allowed;
}

.nav-button:hover:not(:disabled) {
  text-decoration: underline;
}

.arrow-icon {
  margin-right: 5px;
  font-size: 18px;
}

.arrow-icon.right {
  margin-left: 5px;
}

/* CSS Transitions */

.fade-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms, transform 300ms;
}
